@import 'tailwindcss';

@font-face {
  font-family: 'Quantico';
  src: url('../assets/fonts/Quantico-Regular.tff') format('tff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quantico';
  src: url('../assets/fonts/Quantico-Italic.tff') format('tff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quantico';
  src: url('../assets/fonts/Quantico-Bold.tff') format('tff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quantico';
  src: url('../assets/fonts/Quantico-BoldItalic.tff') format('tff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-quantico: 'Quantico', sans-serif;
}

@layer components {
  .ts-form-title {
    color: var(--color-gray-500);
    font-weight: var(--font-weight-bold);
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
