.scramble {
  font-family: Helvetica;
  font-size: 60px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  mix-blend-mode: difference;
}

.success {
  color: green;
}
.error {
  color: #b91c1c;
}
