<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://localhost:3005/output.css">
  </head>
  <body class="bg-slate-100 text-slate-900">
    <div class="text-center my-4">
    <h1
      class="scramble"
      data-text="Viewing Blockchain">
      Tournament Blockchain Panel
    </h1>
    <script src="/animation.js"></script>
    </div>
