<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/blockchain/output.css">
  </head>
  <body 
    class="min-h-screen bg-no-repeat bg-cover bg-center text-slate-900"
    style="background-image: url('/blockchain/bg.svg');"
  >
    <div class="text-center my-4">
    <h1
      class="scramble"
      data-text="Viewing Blockchain">
      Tournament Blockchain Panel
    </h1>
    <script>
      const el = document.querySelector('.scramble');
      // const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';//â‚¿
      const chars = 'â‚¿ð–¢»â„Â£$á°.â‚¬';
      const random = () => chars[Math.floor(Math.random() * chars.length)];

      el.addEventListener('mouseover', () => {
        const text = el.dataset.text;
        let i = 0;

        const interval = setInterval(() => {
          el.textContent = text
            .split('')
            .map((char, index) => (index < i ? char : random()))
            .join('');
          i++;
          if (i > text.length) clearInterval(interval);
        }, 150);
      });
    </script>
    </div>
