# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      VOLUME_NAME: "data"
      NODE_ENV: "production"
      PROXY_SERVICE_NAME: "nginx-proxy"
      API_GATEWAY_NAME: "api-gateway"
      API_GATEWAY_PORT: "3000"
      AUTH_SERVICE_NAME: "auth-service"
      AUTH_SERVICE_PORT: "3001"
      UM_SERVICE_PORT: "3002"
      UM_SERVICE_NAME: "user-service"
      UM_REDIS_CHANNEL: "user_management"
      UM_SERVICE_DIR: "users"
      GAME_SERVICE_PORT: "3003"
      GAME_SERVICE_NAME: "game-service"
      BK_SERVICE_PORT: "3005"
      BK_SERVICE_NAME: "blockchain-service"
      REDIS_SERVICE_PORT: "6379"
      REDIS_SERVICE_NAME: "redis-broker"
      REDIS_URL: "redis://redis-broker:6379"
      AUTH_DB_PATH: "/data/auth.db"
      ADMIN_USERNAME: "admin"
      ADMIN_EMAIL: "admin@transcendence.local"
      ADMIN_PASSWORD: "Admin123!"
      INVITE_USERNAME: "invite"
      INVITE_EMAIL: "invite@transcendence.local"
      INVITE_PASSWORD: "Invite123!"
      BLOCK_DB_PATH: "/data/blockchain.db"
      UM_DB_PATH: "./data/um.db"
      UM_DB_URL: "file:./data/um.db"
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Create .env for docker compose
        env:
          GH_JWT_SECRET: ${{ secrets.JWT_SECRET }}
        run: |
          mkdir -p srcs
          if [ -z "$GH_JWT_SECRET" ]; then
            echo "Using dummy JWT secret for CI"
            JWT_SECRET="dummysupersecretkey"
          else
            JWT_SECRET="$GH_JWT_SECRET"
          fi
          cat << EOF > srcs/.env
          VOLUME_NAME=${VOLUME_NAME}
          NODE_ENV=${NODE_ENV}
          PROXY_SERVICE_NAME=${PROXY_SERVICE_NAME}
          API_GATEWAY_NAME=${API_GATEWAY_NAME}
          API_GATEWAY_PORT=${API_GATEWAY_PORT}
          AUTH_SERVICE_NAME=${AUTH_SERVICE_NAME}
          AUTH_SERVICE_PORT=${AUTH_SERVICE_PORT}
          UM_SERVICE_NAME=${UM_SERVICE_NAME}
          UM_SERVICE_PORT=${UM_SERVICE_PORT}
          UM_REDIS_CHANNEL=${UM_REDIS_CHANNEL}
          GAME_SERVICE_NAME=${GAME_SERVICE_NAME}
          GAME_SERVICE_PORT=${GAME_SERVICE_PORT}
          BK_SERVICE_NAME=${BK_SERVICE_NAME}
          BK_SERVICE_PORT=${BK_SERVICE_PORT}
          REDIS_SERVICE_NAME=${REDIS_SERVICE_NAME}
          REDIS_SERVICE_PORT=${REDIS_SERVICE_PORT}
          REDIS_URL=${REDIS_URL}
          EOF

          cat << EOF > srcs/.env.auth
          JWT_SECRET=${JWT_SECRET}
          AUTH_DB_PATH=${AUTH_DB_PATH}
          ADMIN_USERNAME=${ADMIN_USERNAME}
          ADMIN_EMAIL=${ADMIN_EMAIL}
          ADMIN_PASSWORD=${ADMIN_PASSWORD}
          INVITE_USERNAME=${INVITE_USERNAME}
          INVITE_EMAIL=${INVITE_EMAIL}
          INVITE_PASSWORD=${INVITE_PASSWORD}
          EOF

          cat << EOF > srcs/.env.blockchain
          BLOCK_DB_PATH=${BLOCK_DB_PATH}
          EOF

          cat << EOF > srcs/.env.game
          EOF

          cat << EOF > srcs/.env.gateway
          JWT_SECRET=${JWT_SECRET}
          EOF

          cat << EOF > srcs/.env.um
          UM_DB_URL=${UM_DB_URL}
          UM_DB_PATH=${UM_DB_PATH}
          EOF

      - name: Build
        run: make all
